@import "settings/_media.scss";

.container {
  min-height: 100vh;
  min-width: 100vw;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: $padding-x 1.8rem;

  @include width-small {
    padding: $padding-small-x 1rem;
  }
}
