<div class="game-container">

  <section class="top">
    <span class="question">¿Cuál es la palabra que falta?</span>
    <span class="topic">cultura general</span>
  </section>

  <section class="wordle">
    <div class="try">
      <div class="letter">s</div>
      <div class="letter">s</div>
      <div class="letter">s</div>
      <div class="letter">s</div>
      <div class="letter">s</div>
      <div class="letter">s</div>
      <div class="letter">s</div>
      <div class="letter"></div>
      <div class="letter"></div>
      <div class="letter"></div>
      <div class="letter"></div>
    </div>

  </section>

  <section class="keyboard">
    <div class="keyboard-wrapper">
      <div class="keyboard-row">
        <div class="keyboard-key">q</div>
        <div class="keyboard-key">w</div>
        <div class="keyboard-key">e</div>
        <div class="keyboard-key">r</div>
        <div class="keyboard-key">t</div>
        <div class="keyboard-key">y</div>
        <div class="keyboard-key">u</div>
        <div class="keyboard-key">i</div>
        <div class="keyboard-key">o</div>
        <div class="keyboard-key">p</div>
      </div>
      <div class="keyboard-row">
        <div class="keyboard-key">a</div>
        <div class="keyboard-key">s</div>
        <div class="keyboard-key">d</div>
        <div class="keyboard-key">f</div>
        <div class="keyboard-key">g</div>
        <div class="keyboard-key">h</div>
        <div class="keyboard-key">j</div>
        <div class="keyboard-key">k</div>
        <div class="keyboard-key">l</div>
      </div>
      <div class="keyboard-row">
        <div class="keyboard-key action"><- </div>
            <div class="keyboard-key">z</div>
            <div class="keyboard-key">x</div>
            <div class="keyboard-key">c</div>
            <div class="keyboard-key">v</div>
            <div class="keyboard-key">b</div>
            <div class="keyboard-key">n</div>
            <div class="keyboard-key">m</div>
            <div class="keyboard-key action">Enter</div>
        </div>
      </div>
  </section>

</div>
