$bg-light: #f8f8f8;
$bg-dark: #222222;
$bg-primary: #e6f3e6;

$bg-letter-light: #e2e2e2;
$bg-letter-dark: #333333;
$border-letter-light: #dee1e9;
$border-letter-dark: #393e4c;
$fc-letter-light: #393e4c;
$fc-letter-dark: #eeeeee;

$bg-hover-key-light: #d3d3d3;
$bg-hover-key-dark: #393e4c;

$bg-header-light: #f8f8f8;
$bg-header-dark: #171717;

$bg-modal-light: #f7f7f7;
$bg-modal-dark: #070707;

$fc-light: #222222;
$fc-dark: #eeeeee;
$fc-primary: #57ac57;

$fc-secondary-light: #ff0000;
$fc-secondary-dark: #e95050;
$bg-secondary-light: rgba(255 0 0/ 20%);
$bg-secondary-dark: rgb(255 72 72 / 20%);

$fc-tertiary-light: #808080;
$fc-tertiary-dark: #9f9f9f;

$bg-scroll: #cacaca;
