<div class="home-container">
  <section>
    <span class="title">Popular topics</span>
    <div class="topics">
      <div class="topic" *ngFor="let i of ['', '', '', '', '']">
        <picture>
          <img
            src="https://images.unsplash.com/photo-1591280063444-d3c514eb6e13?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
            alt="topic image alt">
        </picture>
        <span class="topic-title">Topic title</span>
      </div>
    </div>
  </section>

  <section>
    <span class="title">Popular Categories</span>
    <div class="categories">
      <div class="category" *ngFor="let i of ['', '', '']">
        <picture>
          <img
            src="https://images.unsplash.com/photo-1591280063444-d3c514eb6e13?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
            alt="category image alt">
        </picture>
        <span class="category-title">Category title</span>
      </div>
    </div>
  </section>
</div>
